<p>Hi all,</p>
<p>This is a friendly (automated) reminder that the monthly CSO Committee meeting is scheduled for <strong>{{event_date}}</strong> at <strong>{{event_time}}</strong> {{event_timezone}}.</p>
<p><strong>Meeting details:</strong></p>
<p>
  <strong>Details:</strong> <a href="{{event_url}}">{{event_url}}</a><br>
  <strong>Venue:</strong> {{event_venue}}
</p>
<p>Yours in service,</p>
<p>
  Hamish W<br>
  Information Coordinator<br>
  Alcoholics Anonymous<br>
  ACT &amp; District Central Service Office
</p>
<p>
  <strong>E:</strong> <a href="mailto:info@aacanberra.org" style="color: #0b0475">info@aacanberra.org</a><br>
  <strong>P:</strong> <a href="tel:262873020" style="color: #0b0475">(02) 6287 3020</a> (24/7)<br>
  <strong>W:</strong> <a href="https://aacanberra.org/" style="color: #0b0475">aacanberra.org</a><br>
</p>
